/* ================ Mobile view================= */
@media (max-width: 768px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100%;
    float: none;
    margin: auto;
    display: inline-block;
  }
  .container {
    width: 90%;
    margin: auto;
  }
  #app .hero-writing-part h1 {
    width: 90%;
    padding: 0% 5% 3% 5%;
    font-size: 18pt;
  }
  #app .hero-writing-part p {
    text-align: justify;
    padding: 3% 5%;
  }
  .hero-img-part img {
    width: 20%;
    margin-left: 70%;
    display: inline;
  }
  .hr1 {
    display: none;
  }
  #services-part .services .service1,
  #services-part .services .service2,
  #services-part .services .service3,
  #services-part .services .service4 {
    float: none;
    text-align: center;
    display: inline-block;
    margin: auto;
    margin-top: 5%;
    width: 230px;
  }
  #app .hero-writing-part {
    margin: 0;
  }
  .heading-part h2 {
    margin-top: 40%;
  }
  .logo-part img {
    display: blocK;
    margin: auto;
    transition: all 0.2s ease-out;
  }
  .btn-part button {
    display: flex;
    position: absolute;
    margin-top: 10px;
    margin-right: 5px;
    right: 0;
    top: 0;
  }
  nav #myLinks {
    display: none;
    overflow: hidden;
  }
  .manu-part ul li {
    display: inline-block;
  }
  .btn-part img {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    left: 0;
    top: 0;
    padding: 2%;
  }
  .btn-part img:hover {
    background-color: coral;
  }

  #services-part .hr2 {
    margin-left: 40%;
  }
  #companny-info .rowclass h4,
  p {
    padding-left: 7%;
  }
  #companny-info {
    background-color: #f5f6fa;
    display: inline-block;
    margin-top: 10%;
  }
  #companny-info .rowclass .block-image img {
    display: none;
  }
  #companny-info .rowclass .text-part {
    width: 100%;
  }
  #app-presentation .rowclass2 .text-part2 .head4,
  .p4 {
    text-align: left;
    padding-right: 10%;
    padding-left: 7%;
    padding-top: 10px;
    display: block;
  }
  #app-presentation .rowclass2 .dwnbtn {
    display: inline-block;
    margin: 10% 0 10% 30%;
  }
  /* support */
  #app-presentation .manubtns .free-of .title {
    display: block;
    margin-left: 3%;
    padding-right: 5%;
  }
}
